@media screen and (max-width: 800px) {
   #wrapper {
		width: 95%;
   }
}

@media screen and (max-width: 640px) {
   #wrapper {
		width: 95%;
   }
   
   #header .logo {
		float: none;
		width: 100%;
		text-align: center;
   }
   #header .menu {
		float: none;
		width: 100%;
		padding: 20px 0 0 0;
   }
   #header .menu ul, #footer .menu ul {
		margin-left: 20%;
		padding-left: 0;
   }
   #header .menu ul li {
   		padding: 5px 3%;
   }
   #header .menu ul li a {
		font-size: 130%;
		text-decoration: underline;
   }
   #content h1 {
		font-size: 28px;
		padding-top: 0;
   }
   #content h2 {
		font-size: 22px;
   }
   
   form dt {
   		margin-top: 20px;
   }
   form input, textarea, select {
   	    width: 98%;
   }
   form input, select {
   		height: 30px;
   }
	button, #submit-element input, a.button {
	    font-size: 120%;
	    height: 40px;
	    line-height: normal;
	}

	.filter ul li a {
	    font-size: 130%;
	}
	
	.posts .post, .text p {
	    font-size: 110%;
	    line-height: 1.6em;
	}
	.posts .post .info div {
	    font-size: 90%;
	}
	.posts .post .text img {
		max-width: 100%;
		height: 100%;
	}
	
	#footer .copyrights {
		float: none;
		width: 100%;
		text-align: center;
	}
	#footer .menu {
		float: none;
		width: 100%;
		margin-top: 20px;
	}
	
	#footer .menu ul li a {
		font-size: 150%;
		text-decoration: underline;
	}
}

@media screen and (max-width: 360px) {
   #header .menu ul, #footer .menu ul {
		margin-left: 5%;
   }
   #footer .menu ul li a {
   	font-size: 120%;
   }
}