body {
  color: #303942;
  font-family: serif; /*'Segoe UI', Tahoma, sans-serif;*/
  font-size: 14px;
  line-height: 21px;
  margin:0;
  padding:0;
}

a, a:link, a:visited {
  color: #15C;
}

a:hover, a:active {
  text-decoration: none;
  color:#57A900;
}
/* tables */
table {
  border-collapse: collapse;
  width:100%;
}
table th {
  text-align:left;
  background-color:#EEEEEE;
  padding: 3px 5px;
  font-size: 12px;
}
table td {
  border: 1px solid #EEEEEE;
  font-size: 12px;
  padding: 2px 5px;
  vertical-align: middle;
}
table tr.odd {
  background-color:#F6F6F6;
}

/*** common classes ***/
.clear {
  clear:both;
}

/*** forms ***/
button, #submit-element input, a.button {
  background-color: #F0F0F0;
  border-color: #a7a7a7;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  color: black;
  height: 24px;
  margin-right: 1px;
  min-height: 24px;
  min-width: 48px;
  padding: 1px 10px 5px 10px;
  text-align: center;
  text-shadow: #F0F0F0 0px 1px 0px;
  font-size:12px;
  cursor:pointer;
  line-height:normal;
}
a.button {
  text-decoration:none;
  padding:3px 10px;
}

form input,textarea{
  border: 1px solid #BFBFBF;
  border-radius: 2px;
  font-family: Arial, Tahoma, sans-serif;
  font-size:13px;
  padding:0 3px;
   width: 300px;
}
form input {
  height: 24px;
}
form textarea{
  height: 120px;
}
.zend_form dt{
  margin-top:10px;
}
.zend_form dd{
  margin:0;
}

#submit-element input {
  clear:both;
  width:auto;
}

#wrapper {
  width: 960px;
  margin: auto;
}

#header .logo {
	float:left;
	padding-top:40px;
}

#header .logo a {
	font-size: 54px;
	color:#57A900;
	text-decoration:none;
	font-family: 'Rancho', cursive;
}

/* menu */
#header .menu {
  float:right;
  padding-top:45px;
}
#header .menu ul {
  list-style-type:none;
  margin:0;
}
#header .menu ul li {
  float:left;
  padding:5px 10px;
}
#header .menu ul li:hover, #header .menu ul li.active {
 
}
#header .menu ul li a {
  color: #777;
  text-decoration:none;
}
#header .menu ul li a:hover, #header .menu ul li.active a {
  color: #303942;
}

#footer .menu {
  float:right;
}
#footer .menu ul {
  list-style-type:none;
  margin:0;
}
#footer .menu ul li {
  float:left;
  padding:0 10px;
}
#footer .menu ul li a {
  color: #777;
  font-size:12px;
}
#footer .menu ul li a:hover, #footer .menu ul li.active a {
  color: #4E5764;
  text-decoration:none;
}


#content {
  clear:both;
  padding:20px 0;
}

#content h1 {
  color:#303942;
  font-size: 22px;
  font-weight:normal;
  border-bottom: 1px solid #eee;
  padding:10px 0;
}
#content h2, #fancybox-inner h2 {
  color:#303942;
  font-size: 20px;
  font-weight:normal;
  padding:0;
  margin:10px 0;
}

/*** footer ***/
#footer {
	border-top: 1px solid #EEEEEE;
	padding:15px 0 50px 0;
}

#footer .copyrights {
	float:left;
	font-size:12px;
	color:#777777;
}

/* filter */
.filter ul {
  list-style-type:none;
  margin:0;
  padding:0;
}
.filter ul li {
  float:left;
  padding:0 10px 25px 0;
}
.filter ul li a {
  color: #777;
  font-size:14px;
}
.filter ul li a:hover, .filter ul li.active a {
  color: #4E5764;
  text-decoration:none;
}
.filter ul li.active a {
  font-weight:bold;
}

/* posts */
.posts .post {
	margin-bottom:32px;
	font-size:12px;
}
.posts .post .favourite {
	background: url(../images/star.png) no-repeat 0 -3px;
	width:24px;
	height:24px;
	float:left;
	margin-right:8px;
	padding-top:3px;
}
.posts .post .info {
	margin-top:5px;
}
.posts .post .date, .posts .post .author {
	float:left;
	margin-right:5px;
}
.posts .post .info div {
	color: #777777;
	font-size:11px;
}

